@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.home-wrap {
  font-family: "Poppins", sans-serif;
  margin: 0 6%;
  position: relative;
}
.go-to-wrap {
  display: flex;
  margin-bottom: 150px;
  gap: 2rem;
  align-items: center;
}
@media (max-width: 900px) {
  .go-to-wrap {
    flex-direction: column;
  }
}
.go-to-page {
  height: 40px;
  width: 160px;
  background-color: #ff0000;
  position: relative;
}

.go-to-page a svg {
  color: #fff;
  transition: transform 400ms ease-in-out;
}

.go-to-page:hover a svg {
  transform: translateX(5px);
}
.go-to-page a {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 125px;
}
.go-to-page a span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
