*{
scroll-behavior: smooth;
}
.css-wjh20t-MuiPagination-ul{
    justify-content: center;
}
.css-ikzlcq{
    align-items: center;
}
button{
    color: rgb(242 236 237 / 87%);
    border: 1px solid rgb(244 235 235 / 23%);
}
